[submodule "crazyswarm_ros"]
	path = crazyswarm_ros
	url = https://github.com/USC-ACTLab/crazyswarm.git
[submodule "crazyswarm"]
	path = crazyswarm
	url = https://github.com/USC-ACTLab/crazyswarm.git
