<launch>
  <arg name="uri0" default="radio://0/80/2M/E7E7E7E7A0" />
  <arg name="uri1" default="radio://0/80/2M/E7E7E7E7B0" />
  <arg name="uri2" default="radio://0/80/2M/E7E7E7E7C0" />
  <arg name="frame" default="base_link" />
  <arg name="joy_dev" default="/dev/input/js0"/>

  <rosparam command="load" file="$(find bitcraze_lps_estimator)/data/anchor_pos.yaml" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(find crazyflie_description)/urdf/crazyflie2.urdf.xacro" />

  <include file="$(find iconslab)/launch/controller.launch">
    <arg name="joy_dev" value="$(arg joy_dev)"/>
  </include>

  <group ns="crazyflie0">
    <remap from="joy" to="/joy"/>
    <include file="$(find iconslab)/launch/shape_crazyflie.launch">
      <arg name="ns" value="crazyflie0"/>
      <arg name="uri" value="$(arg uri0)"/>
      <arg name="shape" value="circle"/>
      <arg name="hold" value="False"/>
      <arg name="theta" value="0"/>
    </include>
  </group>

  <group ns="crazyflie1">
    <remap from="joy" to="/joy"/>
    <include file="$(find iconslab)/launch/shape_crazyflie.launch">
      <arg name="ns" value="crazyflie1"/>
      <arg name="uri" value="$(arg uri1)"/>
      <arg name="shape" value="circle"/>
      <arg name="hold" value="False"/>
      <arg name="theta" value="2.09"/>
    </include>
  </group>

  <group ns="crazyflie2">
    <remap from="joy" to="/joy"/>
    <include file="$(find iconslab)/launch/shape_crazyflie.launch">
      <arg name="ns" value="crazyflie2"/>
      <arg name="uri" value="$(arg uri2)"/>
      <arg name="shape" value="circle"/>
      <arg name="hold" value="False"/>
      <arg name="theta" value="4.18"/>
    </include>
  </group>

  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster"
        args="1 0 0 0 0 0 1 world lps 100" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch" />

</launch>
