<launch>
  <arg name="controller_type" default="keyboard">
  <arg name="joy_dev" default="/dev/input/js0"/>

  <node name="keyTeleop" pkg="iconslab" unless="$(eval arg('controller_type') != 'keyboard')"/>

  <node name="joy" pkg="joy" type="joy_node" output="screen" if="$(eval arg('controller_type') == 'joy')">
    <param name="dev" value="$(arg joy_dev)" />
  </node>
  <node
</launch>
