<launch>
  <!-- Moved the anchor pos down here from above driver -->
  <rosparam command="load" file="$(find bitcraze_lps_estimator)/data/anchor_pos.yaml" />

  <node name="controller_bridge" pkg="bitcraze_lps_estimator" type="crazyflie_controller_bridge.py" output="screen"/>

  <node name="lps_efk_bridge" pkg="bitcraze_lps_estimator" type="lps_ekf_bridge.py" output="screen"/>

  <node name="lps_viz" pkg="bitcraze_lps_estimator" type="lps_viz.py" />

  <node name="log_range" pkg="bitcraze_lps_estimator" type="log_range.py" />

</launch>
